{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Carrito</title>
</head>
<body>
    <header class="header">
        <div class="logo">CAFELAZOR</div>
        <nav>
            <a href="{% url 'index' %}">Inicio</a>
            <a href="{% url 'menu' %}">Menu</a>
            <a href="{% url 'cart' %}">Carrito</a>
        </nav>
        <div>
            {% if user.is_authenticated and user.is_superuser %}
                <span>Hola {{ user.username }}</span>
                {% if user.is_superuser %}
                    <a class="btn-login" href="{% url 'cafe_list' %}">Admin</a>
                {% endif %}
                <a class="btn-login" href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a class="btn-register" href="{% url 'register' %}">Registrarse</a>
                <a class="btn-login" href="{% url 'login' %}">Login</a>
            {% endif %}
        </div>
    </header>

    <h1>Tu Carrito</h1>

    {% csrf_token %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Product</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% if cart_items %}
                {% for item in cart_items %}
                    <tr id="cart-item-{{ item.id }}">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.price }}</td>
                        <td>
                            <button type="button" class="btn-remove" data-id="{{ item.id }}">Remove</button>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4">Tu carrito está vacío.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    <div class="cart-footer">
        <div class="total-section">
            <h3>Total: $<span id="total">{{ total|floatformat:2 }}</span></h3>
        </div>
        <form id="confirmForm" action="{% url 'resultado' %}" onsubmit="validateCart(event)">
            <button type="submit" class="btn-confirm">Confirmar</button>
        </form>
    </div>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>