{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Home</title>
</head>
<body>
    <header class="header">
        <div class="logo">CafeLazor</div>
        <nav>
            <a href="{% url 'index' %}">Inicio</a>
            <a href="{% url 'menu' %}">Menu</a>
            <a href="{% url 'about' %}">About us</a>
            <a href="{% url 'contact' %}">Contact</a>
            <a href="{% url 'cart' %}">Carrito</a>
        </nav>
        <div>
            {% if user.is_authenticated %}
                <span>Hola {{ user.username }}</span>
                {% if user.is_superuser %}
                    <a class="btn-login" href="{% url 'cafe_list' %}">Admin</a>
                {% endif %}
                <a class="btn-login" href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a class="btn-login" href="{% url 'login' %}">Login</a>
            {% endif %}
        </div>
    </header>
    <section class="hero">
        <div class="hero-text">
            <h1>Cafe deslumbrante, <br> para empresarios</h1>
            <p>sean bienvenidos</p>
        </div>
    </section>
    <section class="category">
        <a href="{% url 'home' %}?type=hot"><button>Cafes Calientes</button></a>
        <a href="{% url 'home' %}?type=cold"><button>Cafes Frios</button></a>
        <a href="{% url 'home' %}?type=desserts"><button>Postres</button></a>
        <a href="{% url 'home' %}?type=sandwiches"><button>Sandwiches</button></a>
        <a href="{% url 'home' %}?type=promotions"><button>Promociones</button></a>
        <a href="{% url 'home' %}"><button>All Products</button></a>
    </section>
    <section class="products">
        <h2>Productos Recientes</h2>
        <div class="grid">
            {% for cafe in cafes %}
                <div class="card">
                    <img src="{% static 'img/Cafe.png' %}" style="max-width: 75px; height: auto;" alt="{{ cafe.name }}">
                    <h3>{{ cafe.name }}</h3>
                    <p>${{ cafe.price }}</p>
                    <button class="btn-primary" data-id="{{ cafe.id }}" data-name="{{ cafe.name }}" data-price="{{ cafe.price }}">Add</button>
                </div>
            {% empty %}
                <p>No Hay Productos Disponibles</p>
            {% endfor %}
        </div>
    </section>
    <div id="csrf-token">
        {% csrf_token %}
    </div>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
