{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Cafeteria</title>
</head>
<body>
    <header class="header">
        <div class="logo">CAFELAZOR</div>
        <nav>
            <a href="{% url 'index' %}">Inicio</a>
            <a href="{% url 'menu' %}">Menu</a>
            <a href="{% url 'about' %}">About us</a>
            <a href="{% url 'contact' %}">Contact</a>
            <a href="{% url 'cart' %}">Carrito</a>
        </nav>
        <div>
            {% if user.is_authenticated %}
                <span>Hola {{ user.username }}</span>
                {% if user.username == "Rodrigo" %}
                    <a class="btn-login" href="/admin/">Admin</a>
                {% endif %}
                <a class="btn-login" href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a class="btn-login" href="{% url 'login' %}">Login</a>
            {% endif %}
        </div>
    </header>
    <section class="hero">
        <div class="hero-text">
            <h1>Cafe deslumbrante, <br> para empresarios</h1>
            <p>sean bienvenidos</p>
            <button><a href="{% url 'menu' %}">Menu</a></button>
        </div>
        <img src="#" alt="cafe">
    </section>
    <section class="category">
        <a href="{% url 'index' %}?type=hot"><button>Cafes Calientes</button></a>
        <a href="{% url 'index' %}?type=cold"><button>Cafes Frios</button></a>
        <a href="{% url 'index' %}?type=desserts"><button>Postres</button></a>
        <a href="{% url 'index' %}?type=sandwiches"><button>Sandwiches</button></a>
        <a href="{% url 'index' %}?type=promotions"><button>Promociones</button></a>
        <a href="{% url 'index' %}"><button>All Products</button></a>
    </section>
    <section>
        <section class="products">
            <h2>Recent Products</h2>
            <div class="grid">
                {% for cafe in cafes %}
                    <div class="card">
                        <img src="#">
                        <h3>{{ cafe.name }}</h3>
                        <p>${{ cafe.price }}</p>
                        <button class="btn-primary" data-id="{{ cafe.id }}" data-name="{{ cafe.name }}" data-price="{{ cafe.price }}">Add</button>
                    </div>
                {% empty %}
                    <p>No products available</p>
                {% endfor %}
            </div>
        </section>
    </section>
{% csrf_token %}
<script src="{% static 'js/script.js' %}"></script>
</body>

</html>