

{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Cafeteria</title>
</head>
<body>
    <header class="header">
        <div class="logo">CAFELAZOR</div>
        <nav>
            <a href="{% url 'index' %}">Inicio</a>
            <a href="{% url 'menu' %}">Menu</a>
            <a href="{% url 'about' %}">About us</a>
            <a href="{% url 'contact' %}">Contact</a>
            <a href="{% url 'cart' %}">Carrito</a>
        </nav>
        <a class="btn-login" href="{% url 'login' %}">Login</a>
    </header>
    <section class="hero">
        <div class="hero-text">
            <h1>Cafe deslumbrante, <br> para empresarios</h1>
            <p>sean bienvenidos</p>
            <button><a href="{% url 'menu' %}">Menu</a></button>
        </div>
        <img src="#" alt="cafe">
    </section>
    <section class="category">
        <button><a href="{% url 'menu' %}?type=hot">Cafes Calientes</a></button>
        <button><a href="{% url 'menu' %}?type=cold">Cafes Frios</a></button>
        <button><a href="{% url 'menu' %}?type=desserts">Postres</a></button>
        <button><a href="{% url 'menu' %}?type=sandwiches">Sandwiches</a></button>
        <button><a href="{% url 'menu' %}?type=promotions">Promociones</a></button>
    </section>
    <section>
        <section class="products">
            <h2>Recent Products</h2>
            <div class="grid">
                <div class="card" data-id="1" data-name="Cafe" data-price="3100">
                    <img src="#">
                    <h3>Cafe</h3>
                    <p>$3.100</p>
                    <button class="btn-primary" onclick="addToCart(1, 'Cafe', 3100)">Add</button>
                </div>
                <div class="card" data-id="2" data-name="Capuccino" data-price="5500">
                    <img src="#">
                    <h3>Capuccino</h3>
                    <p>$5.500</p>
                    <button class="btn-primary" onclick="addToCart(2, 'Capuccino', 5500)">Add</button>
                </div>
                <div class="card" data-id="3" data-name="Iced Latte" data-price="3900">
                    <img src="#">
                    <h3>Iced Latte</h3>
                    <p>$3.900</p>
                    <button class="btn-primary" onclick="addToCart(3, 'Iced Latte', 3900)">Add</button>
                </div>
            </div>
        </section>
    </section>
{% csrf_token %}
<script src="{% static 'js/script.js' %}"></script>
</body>

</html>