{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Logout</title>
</head>
<body>
    <header class="header">
        <div class="logo">CAFELAZOR</div>
        <nav>
            <a href="{% url 'index' %}">Inicio</a>
            <a href="{% url 'menu' %}">Menu</a>
            <a href="{% url 'about' %}">About us</a>
            <a href="{% url 'contact' %}">Contact</a>
            <a href="{% url 'cart' %}">Carrito</a>
        </nav>
        <a class="btn-login" href="{% url 'login' %}">Login</a>
    </header>

    <section class="login-container">
        <h2>Logout Successful</h2>
        <p>You have been successfully logged out!</p>
        <p><a href="{% url 'index' %}">Return to Home</a></p>
    </section>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
