{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Menu</title>
</head>
<body>
    <header class="header">
        <div class="logo">CAFELAZOR</div>
        <nav>
            <a href="{% url 'index' %}">Inicio</a>
            <a href="{% url 'menu' %}">Menu</a>
            <a href="{% url 'cart' %}">Carrito</a>
        </nav>
        <div>
            {% if user.is_authenticated %}
                <span>Hola {{ user.username }}</span>
                {% if user.is_superuser %}
                    <a class="btn-login" href="{% url 'cafe_list' %}">Admin</a>
                {% endif %}
                <a class="btn-login" href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a class="btn-register" href="{% url 'register' %}">Registrarse</a>
                <a class="btn-login" href="{% url 'login' %}">Login</a>
            {% endif %}
        </div>
    </header>
    <h2>Menu Completo</h2>

    <section class="category">
        <a href="{% url 'menu' %}?type=hot"><button>Cafes Calientes</button></a>
        <a href="{% url 'menu' %}?type=cold"><button>Cafes Frios</button></a>
        <a href="{% url 'menu' %}?type=desserts"><button>Postres</button></a>
        <a href="{% url 'menu' %}?type=sandwiches"><button>Sandwiches</button></a>
        <a href="{% url 'menu' %}?type=promotions"><button>Promociones</button></a>
        <a href="{% url 'menu' %}"><button>All Products</button></a>
    </section>

    <div class="grid">
        {% for cafe in cafes %}
            <div class="card">
                {% if cafe.category == 'hot' %}
                        <img src="{% static 'img/cafes_calientes.png' %}" style="max-width: 75px; height: auto;" alt="{{ cafe.name }}">
                    {% elif cafe.category == 'cold' %}
                        <img src="{% static 'img/cafes_frios.png' %}" style="max-width: 75px; height: auto;" alt="{{ cafe.name }}">
                    {% endif %}
                <h3>{{ cafe.name }}</h3>
                <p>${{ cafe.price }}</p>
                <button class="btn-primary" data-id="{{ cafe.id }}" data-name="{{ cafe.name }}" data-price="{{ cafe.price }}">Add</button>
            </div>
        {% endfor %}
    </div>

    {% csrf_token %}
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>

