{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Confirmado</title>
</head>
<body>
    <header class="header">
        <div class="logo">CAFELAZOR</div>
        <nav>
            <a href="{% url 'index' %}">Inicio</a>
            <a href="{% url 'menu' %}">Menu</a>
            <a href="{% url 'cart' %}">Carrito</a>
        </nav>
        <div>
            {% if user.is_authenticated %}
                <span>Hola {{ user.username }}</span>
                {% if user.is_superuser %}
                    <a class="btn-login" href="{% url 'cafe_list' %}">Admin</a>
                {% endif %}
                <a class="btn-login" href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a class="btn-register" href="{% url 'register' %}">Registrarse</a>
                <a class="btn-login" href="{% url 'login' %}">Login</a>
            {% endif %}
        </div>
    </header>
    <h1>Gracias por su compra.</h1>
    <h1>El pedido se enviara en breve</h1>
</body>
</html>