<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cafeteria</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header class="header">
        <div class="logo">CafeLazor</div>
        <nav>
            <a href="home.html">Inicio</a>
            <a href="menu.html">Menu</a>
            <a href="about.html">About us</a>
            <a href="contact.html">Contact</a>
        </nav>

        {% if user.is_authenticated %}
            <span>hola {{ user.username }}</span>
            <a href="login.html">
                Logout
            </a>
        {% else %}
            <a href="login.html">Login</a>
        {% endif %}
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>