<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cafeteria</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header class="header">
        <div class="logo">CafeLazor</div>
        <nav>
            <a href="home.html">Inicio</a>
            <a href="menu.html">Menu</a>
            <a href="#">About us</a>
            <a href="#">Contact</a>
        </nav>
            <span>hola Username</span>
            <a href="login.html">
                Logout
            </a>
            <a href="login.html">Login</a>
    </header>
    <h1>BIENVENIDO</h1>
</body>
</html>