<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Carrito</title>
</head>
<body>
    <header class="header">
        <div class="logo">CafeLazor</div>
        <nav>
            <a href="home.html">Inicio</a>
            <a href="menu.html">Menu</a>
            <a href="#">About us</a>
            <a href="#">Contact</a>
            <a href="carrito.html">Carrito</a>
        </nav>
            <span>hola Username</span>
            <a class="btn-login" href="../../index.html">
                Logout
            </a>
            <a class="btn-login" href="login.html">Login</a>
    </header>

    <h1>Tu Carrito</h1>
    <table>
        <tr>
            <th>Product</th>
            <th>Price</th>
        </tr>
        <tr>
            <td>...</td>
            <td>...</td>
        </tr>
    </table>
    <form action="resultado.html">
        <button >Confirm</button>
    </form>
</body>
</html>