<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div class="logo">CAFELAZOR</div>
        <nav>
            <a href="home.html">Inicio</a>
            <a href="menu.html">Menu</a>
            <a href="#">About us</a>
            <a href="#">Contact</a>
        </nav>
        <a href="login.html">Login</a>
    </header>
    <h2>Menu Completo</h2>

    <div class="grid">
            <div class="card">
                <img src="#">
                <h3>Cappucino</h3>
                <p>$5400</p>
                <button>Add</button>
            </div>
            <div class="card">
                <img src="#">
                <h3>Iced Latte</h3>
                <p>$3.900</p>
                <button>Add</button>
            </div>
    </div>
</body>
</html>

