
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    {% extends 'base.html' %}

    {% block title %}Menu{% endblock %}

    {% block content %}
    <h2>Menu Completo</h2>

    <div class="grid">
        {% for product in products %}
            <div class="card">
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
                <h3>{{ product.name }}</h3>
                <p>${{ product.price }}</p>
                <button>Add</button>
            </div>
        {% endfor %}
    </div>
{% endblock %}
</body>
</html>

